# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.lock
*.tmp
.DS_Store
*.swp
*.log
*.out
coverage.txt
bin/
*.test

htmls/profile/

# goland
.idea/

# Dependency directories (remove the comment below to include it)
*.a
src/
vendor/